{% extends "base.html" %}

{% block title %}{{ 'nav-about'|message }} - {{ parent() }}{% endblock title %}

{% block content %}
{% spaceless %}
<h2>{{ 'about-header'|message }}</h2>

<p>Server admin logs</p>

<h3>{{ 'about-section-toolforge'|message }}</h3>
<p>This service is currently running in <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge">Wikimedia Toolforge</a> as the <a href="https://tools.wmflabs.org/sal">sal</a> tool. It uses an <a href="https://www.elastic.co/products/elasticsearch">Elasticsearch</a> index maintained by <a href="https://github.com/bd808/tools-stashbot">a Python IRC bot</a> which collects messages that start with <kbd>!log</kbd> from various <a href="https://freenode.net/">freenode</a> channels.</p>

<h3>{{ 'about-section-credits'|message }}</h3>
<p>Favicon/logo from <a href="http://glyphicons.com/">glyphicons.com</a> (<a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>)</p>

<h3>{{ 'about-section-license'|message }}</h3>
<ul>
  <li><a href="https://github.com/bd808/sal">PHP code</a>: <a href="//www.gnu.org/copyleft/gpl.html">GNU GPLv3+</a></li>
  <li>Content: <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a></li>
</ul>
{% endspaceless %}
{% endblock content %}
